* {
    box-sizing: border-box;
    cursor:default;
}

body {
    background-color: #E5E5E5;
}

.header {
    width:100%;
    height:92px;
    background-color:#CF2B2B;
    padding: 10px 20px;

    position:fixed;
    top:0;
    left:0;

    z-index:1;
}

.header div {
    width:100%;
    height:66px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color:#ffffff;
}

.header p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color:#ffffff;
}
.main {
    width:100%;
    height:auto;
    margin:123px 0;
}

.pratos {
    width:100%;
    height:258px;
    padding-left:19px;
}

h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color:#333333;
}

.caixa-de-pratos {
    width:100%;
    height:auto;
    margin-top:17px;

    display:flex;
    justify-content: space-between;
    align-items: center;

    overflow-x:scroll;
}

.caixa-de-pratos::webkit-scrollbar {
    display:none;
}

.caixa-de-pratos div:nth-child(2) {
    margin:0 16px;
}

.prato-opcao {
    width:176px;
    height:216px;
    background-color:#ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    flex-shrink:0;
    padding:8px 0;

    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;

    position:relative;
}

.prato-opcao div {
    width:144px;
    height:43%;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.caixa-de-pratos img {
    width:144px;
    height:87px;
    border-radius:4px;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color:#333333;
}

.caixa-de-pratos p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color:#A6A6A6;
}

h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:#000000;
}

.bebidas {
    width:100%;
    height:244px;
    padding-left:19px;
    margin-top:27px;
}

.caixa-de-bebidas {
    width:100%;
    height:auto;
    margin-top:17px;

    display:flex;
    justify-content: space-between;
    align-items: center;

    overflow-x:scroll;
}

.caixa-de-bebidas::webkit-scrollbar {
    display:none;
}

.caixa-de-bebidas div:nth-child(2) {
    margin:0 16px;
}

.caixa-de-bebidas img {
    width:144px;
    height:87px;
    border-radius:4px;
}

.caixa-de-bebidas p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color:#A6A6A6;
}

.bebida-opcao {
    width:172px;
    height:202px;
    background-color:#ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    flex-shrink:0;
    padding:8px 0;

    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;

    position:relative;
}

.bebida-opcao div {
    width:144px;
    height:43%;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
}

.sobremesas {
    width:100%;
    height:239px;
    padding-left:19px;
    margin-top:27px;
}

.caixa-de-sobremesas {
    width:100%;
    height:auto;
    margin-top:17px;

    display:flex;
    justify-content: space-between;
    align-items: center;

    overflow-x:scroll;
}

.caixa-de-sobremesas::webkit-scrollbar {
    display:none;
}

.caixa-de-sobremesas div:nth-child(2) {
    margin:0 16px;
}

.caixa-de-sobremesas img {
    width:144px;
    height:87px;
    border-radius:4px;
}

.caixa-de-sobremesas p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color:#A6A6A6;
}

.sobremesa-opcao {
    width:172px;
    height:197px;
    background-color:#ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    flex-shrink:0;
    padding:8px 0;

    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;

    position:relative;
}

.sobremesa-opcao div {
    width:144px;
    height:43%;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.footer {
    width:100%;
    height:92px;
    background-color:#ffffff;

    position:fixed;
    bottom:0;
    left:0;

    display:flex;
    align-items:center;
    justify-content: center;
}

.botao-footer {
    width:364px;
    height:61px;
    background-color:#CBCBCB;
    border-radius:50px;

    display:flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color:#ffffff;
}

.selecionado {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

ion-icon {
    display:none;
}

.selecionado ion-icon {
    width:19px;
    height:19px;
    color:#32B72F;

    position:absolute;
    bottom:15px;
    right:10px;
    display:block;
}

.confirmado {
    width:364px;
    height:61px;
    background-color:#32B72F;
    border-radius:50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color:#ffffff;

    display:flex;
    align-items: center;
    justify-content: center;
}

.container {
    width:100%;
    height:auto;
    background: rgba(255, 255, 255, 0.9);

    display:flex;
    align-items:center;
    justify-content: center;
    z-index:2;
}

.container>div {
    width: 377px;
    height: 353px;
    background-color:#50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}